
h3 {
	text-align: center;
}

.label {
	display: block;
	width: 80%;
	margin: 20px auto 10px;
	font-size: 16px;
	text-align: justify;
}

.about-link {
	display: block;
	width: 80%;
	margin: 0 auto;
}

.btn {
	display: block;
	width: 80%;
	height: 60px;
	line-height: 60px;
	margin: 0 auto;
	box-sizing: border-box;
	background-color: #FFF68F;
	text-align: center;
	font-size: 24px;
}

.btn-1 {
	border: 1px solid #000;
	border-radius: 8px;
}

.btn-2 {
	position: relative;
	border-radius: 8px;
}

.btn-2::after {
	content: ' ';
	width: 200%;
	height: 200%;
	position: absolute;
	top: -50%;
	left: -50%;
	box-sizing: border-box;
	border: 1px solid #000;
	border-radius: 16px;
	transform: scale(0.5);
	pointer-events: none;
}
